<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nav">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Nav">
        <activity
            android:name=".statistic"
            android:exported="true" />
        <activity
            android:name=".setting"
            android:exported="true" />
        <activity
            android:name=".add_snack"
            android:exported="true" />
        <activity
            android:name=".add_dinner"
            android:exported="true" />
        <activity
            android:name=".add_lunch"
            android:exported="true" />
        <activity
            android:name=".add_breakfast"
            android:exported="true" />
        <activity
            android:name=".moreBioInfo"
            android:exported="true" />
        <activity
            android:name=".login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gender"
            android:exported="true" />
        <activity
            android:name=".confirm"
            android:exported="true" />
        <activity
            android:name=".snack"
            android:exported="true" />
        <activity
            android:name=".dinner"
            android:exported="true" />
        <activity
            android:name=".lunch"
            android:exported="true" />
        <activity
            android:name=".breakfast"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
    </application>

</manifest>